<launch>
	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
	<arg name="pkg_name" value="auto_localization"/>
    <arg name="node_name" default="bot_detector_node"/>

    <arg name="bot_detection" default="true" doc="use bot detection to increase the speed of apriltag detection" />

    <group ns="$(arg veh)">
    	<node name="bot_detector_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" clear_params="true" required="true">
    	<param name="bot_detection" value="$(arg bot_detection)"/>
    	</node>
	</group>

</launch>
