<launch>
    <arg name="pkg_name" value="auto_localization"/>
    <arg name="node_name" default="subfserver_easy"/>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="config" default="baseline" doc="Specify a config."/>
  	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />

    <arg name="map" default="testcircle" doc="Specify the map you wants"/>

    <include file="$(find tcp_communication)/launch/tcp_communication_client.launch">
      <arg name="veh" value="$(arg veh)"/>
      <arg name="config" value="$(arg config)"/>
      <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <group ns="$(arg veh)">
        <node name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py"
              output="screen">
              <param name="~map" value="$(arg map)" type="str"/>
        </node>
    </group>

</launch>
