<launch>

  <!-- Arguments -->
  <arg name="communication_radius" />
  <arg name="reaction_radius" />
  <arg name="allow_propagation" />
  <arg name="num_vehicles" />
  <arg name="event_location" default="[2.68, 2.10]" />
  <arg name="interference_model" default="linear" />
  <arg name="reaction_type" default="stop" />
  <arg name="perception_distance" default="0.8" />
  <arg name="allow_republish" default="4" />

  <!-- GPS TF Broadcaster -->
  <node pkg="mcomp" type="gps_tf_broadcaster_node" name="gps_tf_broadcaster" output="screen" />

  <!-- MCOMP Experiment Control Center -->
  <node pkg="mcomp" type="mcomp_control_center_node" name="mcomp_control_center_node" output="screen">
    <param name="event_location" value="$(arg event_location)" />
    <param name="communication_radius" value="$(arg communication_radius)" />
    <param name="reaction_radius" value="$(arg reaction_radius)" />
    <param name="allow_propagation" value="$(arg allow_propagation)" />
    <param name="interference_model" value="$(arg interference_model)" />
    <param name="reaction_type" value="$(arg reaction_type)" />
    <param name="num_vehicles" value="$(arg num_vehicles)" />
    <param name="perception_distance" value="$(arg perception_distance)" />
    <param name="allow_republish" value="$(arg allow_republish)" />
  </node>

</launch>
