<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />

    <arg name="map" default="testcircle" doc="Specify the map you wants"/>
    <arg name="IP" default="0" doc="The IP address that the server laptop connected. The default was set in config file. See 00-infrastructure/duckietown/config/baseline/tcp_communication"/>

    <include file="$(find auto_localization)/launch/server_localization.launch">
      <arg name="veh" value="$(arg veh)"/>
      <arg name="config" value="$(arg config)"/>
      <arg name="param_file_name" value="$(arg param_file_name)"/>
      <arg name="map" value="$(arg map)"/>
      <arg name="IP" value="$(arg IP)"/>
    </include>

</launch>
