*~
*.bag
*.pyc
.DS_Store
catkin_ws/src/duckietown/machines
.idea/
.project
.pydevproject
.settings/
catkin_ws/src/core/duckietown/machines
catkin_ws/src/00-infrastructure/duckietown/machines
anti_instagram_annotations_test/
*dl=1
out/comptests
config_db.cache
./caches/EasyAlgoDB.cache.pickle
./caches/
caches/
