<library path="include">
  <class name="rqt_fleet_planning" type="rqt_fleet_planning.rqt_fleet_planning.RQTFleetPlanning" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Fleet Planning</label>
      <icon type="theme">applications-science</icon>
      <statustip>Fleet Planning GUI</statustip>
    </qtgui>
  </class>
</library>
