<launch>
    <arg name="veh" />
    <arg name="local" default="false" />
    <arg name="config" default="$(find fleet_messaging)/config/config.yaml" />
    <arg name="iface" default="bat0" />
    <arg name="timeout" default="1" />
    <include file="$(find duckietown)/machines"/>
    <include file="$(find fleet_messaging)/launch/sender_remote.launch">
        <arg name="veh" value="$(arg veh)" default="frankbot" />
        <arg name="local" value="$(arg local)" default="false" />
        <arg name="config" value="$(arg config)" default="$(find fleet_messaging)/config/config.yaml" />
        <arg name="iface" value="$(arg iface)" default="bat0" />
    </include>
    <include file="$(find fleet_messaging)/launch/receiver_remote.launch">
        <arg name="veh" value="$(arg veh)" default="frankbot" />
        <arg name="local" value="$(arg local)" default="false" />
        <arg name="config" value="$(arg config)" default="$(find fleet_messaging)/config/config.yaml" />
        <arg name="iface" value="$(arg iface)" default="bat0" />
        <arg name="timeout" value="$(arg timeout)" default="1" />
    </include>
</launch>