<launch>
    <arg name="config" default="$(find fleet_messaging)/config/config.yaml" />
    <arg name="iface" default="bat0" />
    <node name="sender_node" pkg="fleet_messaging" type="sender_node.py" output="screen">
        <param name="~config" value="$(arg config)" />
        <param name="~iface" value="$(arg iface)"/>
    </node>
</launch>