<launch>
    <arg name="veh"  doc="Name of vehicle. ex: megaman"/>
    <arg name="pkg_name" value="dt_filtering_$(arg veh)"/>
    <arg name="node_name" default="lane_filter_node"/>
    <arg name="local" default="1"/>
    <arg name="debug" default="false"/>

    <group ns="$(arg veh)">
        <node if="$(arg local)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
            <rosparam command="load" file="$(eval find(pkg_name) + '/default.yaml')"/>
        </node>
    </group>
    <include if="$(arg debug)" file="$(find lane_filter)/launch/lane_pose_visualizer_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
    </include>
</launch>

<!--launch-prefix="xterm -e python -m pdb"-->