<launch>
	<!-- Camera -->
	<include if="$(arg camera)" file="$(find duckietown)/launch/camera.launch">
	</include>

	<!-- Vehicle Detection and Tracking -->
	<remap from="vehicle_detection_tracking_node/image" to="camera_node/image/compressed"/>
	<include file="$(find vehicle_detection_tracking)/launch/vehicle_detection_tracking_node.launch">
	</include>	
</launch>