<launch>
    <arg name="taxi_central" default="true" />
    <arg name="map_draw_node" default="true" />

    <group if="$(arg taxi_central)">
            <!-- Taxi Central -->
        <include file="$(find fleet_planning)/launch/taxi_central_node.launch"/>
    </group>

    <group if="$(arg map_draw_node)">
            <!-- Map Draw Node -->
        <include file="$(find fleet_planning)/launch/map_draw_node.launch"/>
    </group>
</launch>