<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<!-- start basic args -->
	<include file="$(find duckiebot_il_lane_following)/launch/il_lane_following_master_sim.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="visualization" default="true" />
		<arg name="verbose" default="false" />
		<arg name="param_file_name" default="default" />
	</include>
</launch>
