<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<!-- start basic args -->
	<include file="$(find duckiebot_il_lane_following)/launch/il_lane_following_master.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="visualization" default="true" />
		<arg name="verbose" default="false" />
		<arg name="param_file_name" default="default" />
		<arg name="line_detector_param_file_name" default="default" />
		<arg name="anti_instagram" default="false" />
		<arg name="/lane_following/stop_line_filter" default="false" /> <!-- will not every allow a transition into COORDINATION mode -->
	</include>
</launch>
