<launch>
 	<arg name="veh"/>
 	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
 	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
 	<arg name="camera" default="true" doc="camera set to false means only apriltags no camera nodes are launched"/>
    <arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />
	<arg name = "end_space" default="1"/>

    <!-- Camera -->
 	<include if="$(arg camera)" file="$(find duckietown)/launch/camera.launch">
 		<arg name="veh" value="$(arg veh)"/>
 		<arg name="local" value="$(arg local)"/>
 		<arg name="config" value="$(arg config)"/>
 		<arg name="param_file_name" value="$(arg param_file_name)"/>
 		<arg name="raw" value="true"/>
 		<arg name="cam_info" value="true"/> 
 		<arg name="live" value="$(arg live)"/>
		<arg name="rect" value="true" />
 	</include>
 
 	<!-- AprilTag Detection -->
    <remap from="image_rect" to="camera_node/image/rect" />
    <remap from="camera_node/image/camera_info" to="camera_node/raw_camera_info" />
    <include file="$(find apriltags_ros)/launch/apriltag_detector_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>
 
 	<!-- AprilTag Postprocessing node -->
 	<remap from="apriltags_postprocessing_node/apriltags_in" to="tag_detections" />
 	<!-- remap for localization node, not sure why remap has to be put here -->
 	<remap from="apriltags_postprocessing_node/apriltags_out" to="localization_node/apriltags" />
 	<remap from="localization_node/pose_duckiebot" to="path_planning_node/pose_duckiebot" />
 	<include file="$(find apriltags_ros)/launch/apriltags_postprocessing_node.launch">
 		<arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
 	</include>

 	<!-- Localization -->
    <include file="$(find localization)/launch/localization_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- Path Planning -->
	<include file="$(find parking)/launch/path_planning_node.launch">
        <arg name="veh" value="$(arg veh)"/>
	 	<arg name="end_space" value="$(arg end_space)"/>
 	</include>

    <!-- Control -->
    <include file="$(find lane_control)/launch/lane_controller_node.launch">
        <arg name="veh"/>
        <arg name="config" default="baseline"/>
        <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
        <arg name="param_file_name_wheels_driver_node" default="default" doc="Specify a param file. ex:megaman"/>
        <arg name="local" default="false" doc="true to launch locally on laptop. false to launch of vehicle"/>
        <arg name="pkg_name" default="lane_control" doc="name of the package"/>
        <arg name="pkg_name_wheels_driver_node" default="dagu_car" doc="name of the package"/>
        <arg name="node_name" default="lane_controller_node" doc="name of the node"/>
        <arg name="node_name_wheels_driver_node" default="wheels_driver_node" doc="name of the node"/>
    </include>

	<!-- Run a static transform to test with -->
    <node pkg="tf" type="static_transform_publisher" name="test_tag_128_broadcaster" args="0 0 0 0 0 0 world tag_128 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_126_broadcaster" args="0 -0.2 0 0 0 0 world tag_126 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_131_broadcaster" args="1 -0.1 0 0 0 0 world tag_131 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_125_broadcaster" args="0 0 0 0 0 0 world tag_125 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_132_broadcaster" args="0 0 0 0 0 0 world tag_132 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_133_broadcaster" args="0 0 0 0 0 0 world tag_133 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_134_broadcaster" args="0 0 0 0 0 0 world tag_134 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_135_broadcaster" args="0 0 0 0 0 0 world tag_135 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_136_broadcaster" args="0 0 0 0 0 0 world tag_136 100"/>
    <node pkg="tf" type="static_transform_publisher" name="test_tag_137_broadcaster" args="0 0 0 0 0 0 world tag_137 100"/>

</launch>
