<?xml version="1.0"?>
<launch>
	<arg name="topic" default="/tick/camera_node/image/" />
	<arg name="filter" default="sepia" />
	
	<node name="dt_live_instagram_tick_node" pkg="dt_live_instagram_tick" type="dt_live_instagram_tick_node.py" output="screen">

		<param name="image_topic" value="$(arg topic)"/>
		<param name="filter" value="$(arg filter)"/>
		
	</node>
</launch>

