<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="veh"/>
	<arg name="config" default="baseline" />
	<arg name="local" default="true" />
	<arg name="param_file_name" default="default" />
	<arg name="Postprocessing" default="false" />

	<!-- AprilTags Detections -->
	<!--node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME" args="compressed"-->
	<!--remap from="image" to="camera_node/image/compressed"/-->
 	<!--/node-->
 	<!--remap from="image_rect" to="camera_node/image/rect"/-->
 	<remap from="image_rect" to="camera_node/image/raw"/>
 	<remap from="camera_node/image/camera_info" to="camera_node/raw_camera_info" />
	<remap from="apriltags_detector_node/image_raw" to="camera_node/image/raw"/>
	<remap from="apriltags_detector_node/camera_info" to="camera_node/raw_camera_info"/>
 	<!--remap from="image_rect" to="camera_node/image"/-->
	<!-- change to raw image -->
	<include file="$(find apriltags_ros)/launch/micromvp_apriltag_detector_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="local" value="$(arg local)"/>
		<arg name="config" value="$(arg config)"/>
		<arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>

	<!-- Postprocessing node -->
	<group if="$(arg Postprocessing)">
		<remap from="apriltags_postprocessing_node/apriltags_in" to="tag_detections" />
		<include file="$(find apriltags_ros)/launch/apriltags_postprocessing_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
			<arg name="config" value="$(arg config)"/>
			<arg name="param_file_name" value="$(arg param_file_name)"/>
		</include>
	</group>

</launch>