<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="veh"/>
	<arg name="config" default="baseline" />
	<arg name="local" default="true" />
	<arg name="param_file_name" default="default" />
	<arg name="Postprocessing" default="false" />

	<!-- AprilTags Detections -->
	<remap from="image_rect" to="camera_node/image/raw"/>
	<!-- change to raw image -->
	<include file="$(find apriltags_ros)/launch/micromvp_apriltag_detector_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="local" value="$(arg local)"/>
		<arg name="config" value="$(arg config)"/>
		<arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>

	<!-- Postprocessing node -->
	<group if="$(arg Postprocessing)">
		<remap from="apriltags_postprocessing_node/apriltags_in" to="tag_detections" />
		<include file="$(find apriltags_ros)/launch/apriltags_postprocessing_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
			<arg name="config" value="$(arg config)"/>
			<arg name="param_file_name" value="$(arg param_file_name)"/>
		</include>
	</group>

</launch>