<launch>
    <arg name="veh"/>
    <arg name="config" default="baseline"/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
    <arg name="local" default="false"/>

    <arg name="node_name" default="decoder_node"/>

    <include file="$(find duckietown)/machines"/>
    <group ns="$(arg veh)">

        <node if="$(arg local)" name="decoder_node" type="republish" pkg="image_transport" output="screen" args="compressed in:=/$(arg veh)/camera_node/image raw out:=/$(arg veh)/camera_node/image/raw" />

        <node unless="$(arg local)" machine="$(arg veh)" name="decoder_node" type="republish" pkg="image_transport" output="screen" args="compressed in:=/$(arg veh)/camera_node/image raw out:=/$(arg veh)/camera_node/image/raw" />
     </group>

    <!-- Publication -->
    <!-- "~image/raw": sensor_msgs/Image. Raw image by decoding a compressed image in jpeg format.-->
    
    <!-- Subscription -->
    <!-- "~compressed_image": sensor_msgs/CompressedImage. Input compressed image in jpeg format.-->
</launch>