<launch>
    <arg name="pkg_name" value="parking"/>
    <arg name="node_name" default="image_proc_proportional_node"/>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false"
         doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>

    <include file="$(find duckietown)/machines"/>
    <group ns="$(arg veh)">
        <node name="image_proc_proportional_node" pkg="parking" type="image_proc_proportional_node.py" output="screen">
            <param name="veh" value="$(arg veh)" />
        </node>
    </group>
</launch>
