<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="pkg_name" value="multislam"/>
	<arg name="node_name" default="listener"/>
	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>

	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="visualization" value="true" />
		<arg name="navigation" value="true"/>
		<arg name="apriltags" value="true" />
		<arg name="/camera/raw" value="true"/>
		<arg name="/camera/raw/rect" value="true"/>
		<arg name="param_file_name" default="default" />
		<arg name="line_detector_param_file_name" default="default" />
		<arg name="anti_instagram" default="true" />
	</include>

	<group ns="$(arg veh)">
		<node if="$(arg local)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name)" output="screen" clear_params="true" >
		</node>

		<!-- run remote -->
		<node unless="$(arg local)" machine="$(arg veh)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name)" output="screen" clear_params="true">
		</node>

	</group>
</launch>
