<launch>
	<arg name="veh" />
	<arg name="pkg_name" value="multislam"/>
	<arg name="node_name" default="slam"/>
	<arg name="slam_only" default="false"/>
	<arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>

	<!-- start basic args -->
	<group unless="$(arg slam_only)">
		<remap from="image_proc/camera_info" to="raspicam/camera_info"/>
		<include file="$(find duckietown)/launch/apriltags.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="camera" value="false" />
			<arg name="local" value="true" />
		</include>
	</group>

	<include file="$(find duckiebot_visualizer)/launch/duckiebot_visualizer.launch">
		<arg name="veh" value="$(arg veh)" />
	</include>

	<group ns="$(arg veh)">
		<node if="$(arg local)" name="$(arg node_name)"
		      pkg="$(arg pkg_name)" type="$(arg node_name)"
		      output="screen" clear_params="true" />


		<!-- run remote -->
		<node unless="$(arg local)" machine="$(arg veh)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name)" output="screen" clear_params="true"/>

	</group>
</launch>
