<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <arg name="raw" default="false" doc="If set to true, also publish raw image using decoder."/>
    <arg name="cam_info" default="true" doc="If set to true, use cam_info_reader_node to pusblish CameraInfo."/>
    <arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />
    <arg name="rect" default="false" />

    <arg name="vFin" default="0.5" doc="Final command value for straight calibration."/>
    <arg name="Nstep" default="180" doc="Step size for straight calibration."/>
    <!-- arg name="stepTime" default="0.5" doc="Step duration for straight calibration."/ -->

    <arg name="k1" default="0.25" doc="Mean command for sine calibration."/>
    <arg name="k2" default="0.08" doc="Amplitude of sines."/>
    <arg name="omega" default="0.01" doc="Angular velocity."/>   
    <arg name="duration" default="2000" doc="Duration of sine calibration."/>

    <node pkg="rosbag" type="record" args="record -O /media/logs/$(arg veh)_calibration -a" name="record" output="screen"/>

    <node  pkg="calibration" type="publish_control.py" name="publish_control" output="screen" clear_params="true" required="true">
                 <param name="veh" value="$(arg veh)"/>

		 <param name="vFin" value="$(arg vFin)"/>
		 <param name="Nstep" value="$(arg Nstep)"/>
		 <!-- param name="stepTime" value="$(arg stepTime)"/ -->
		
		 <param name="k1" value="$(arg k1)"/>
                 <param name="k2" value="$(arg k2)"/>
                 <param name="omega" value="$(arg omega)"/>
                 <param name="duration" value="$(arg duration)"/>
    </node>


    <include file="$(find dagu_car)/launch/wheels_driver_node.launch">
	    <arg name="veh" value="$(arg veh)"/>
    </include>


    <include file="$(find duckietown)/launch/camera.launch"> 

	    <arg name="veh" value="$(arg veh)"/>
	    <arg name="local" value="$(arg local)"/>
	    <arg name="config" value="$(arg config)"/>
	    <arg name="param_file_name" value="$(arg param_file_name)"/>
	    <arg name="raw" value="$(arg raw)"/>
	    <arg name="cam_info" value="$(arg cam_info)"/>
	    <arg name="live" value="$(arg live)"/>
	    <arg name="rect" value="$(arg rect)"/>

    </include>

    <!-- Subscriptions -->
    <!-- "~wheels_cmd": duckietown_msgs/WheelsCmd. Command for the wheels -->

</launch>
